<div class="container">
  <div class="row mt-3">
      <div class="col section mx-auto pt-3">
          <h3 align="center">KLAP LINK DE PAGO</h3>
      </div>
  </div>

  <div class="row errorsection mt-3 pt-5 pb-4 mx-auto">
      <div class="col">
          <img class="img-fluid" src="assets/img/calendar.png" alt="">
      </div>
  </div>

  <div class="row section mx-auto">
      <div class="col text">
          <p class="title mt-4">El link de pago ha vencido</p>
          <p class="message">Por favor solicita un nuevo link de pago para realizar el pago de tu compra.</p>

          <!-- <button type="submit" class="btn btn-primary btn-lg btn-block mt-4">Volver a intentar</button>-->
      </div>
  </div>
</div>
<!--CLOSES CONTAINER-->
